*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 80%;
    
    padding: 34px;
    margin: auto;
}
.container h1 {
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 40px;
    color: forestgreen;
}
p{
    font-size: 20px;
    text-align: center;
    font-family: 'Macondo', cursive;
    color: forestgreen;
    font-style: oblique;
}
input, textarea{
    display: block;
    border: 1.5px solid forestgreen;
    border-radius: 30px;
    outline: none;
    width: 80%;
    margin: 9px auto;
    padding: 8px;
    font-size: 15px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn {
    color: white;
    background: darkgreen;
    padding: 6px 15px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 20px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1.5;
}
.submitMsg{
    color: aquamarine;
    font-size: 16px;
    font-family: 'Macondo', cursive;
}